pipeline/pipeline.json
{
	"name": "pipeline",
	"properties": {
		"activities": [
			{
				"name": "LoadData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['fileName']"
								},
								"sink": {
									"path": "$['fileName']"
								}
							},
							{
								"source": {
									"path": "$['fileSize']"
								},
								"sink": {
									"path": "$['fileSize']"
								}
							},
							{
								"source": {
									"path": "$['filePath']"
								},
								"sink": {
									"path": "$['filePath']"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "JsonSource",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "JsonInProcess",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LoadData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@JSON(activity('LoadData').output)",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "IMGURL",
								"value": {
									"value": "@item().value",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"image_array": {
				"type": "array"
			}
		},
		"variables": {
			"IMGURL": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}